@import '../bootstrap/variables.less';

//== Main toolbar
//
//## Color for main toolbar
@main-toolbar-bgcolor:      #2685EE;
@main-toolbar-color:        #D7E9FC;
@main-toolbar-hover-color:  #FFFFFF;

//== Sidebar
//
//## Colors for sidebar
@sidebar-bgcolor:       #f9f9f9;
@sidebar-color:         #707980;
@sidebar-hover-color:   #333333;

//== Contents column
//
//## Colors for contents column
@contents-bgcolor: #ebeef0;

